.advantages
	.container
		h2.item-title Наши преимущества
		.row
			.col-lg-3.col-sm-6.advantages__item
				.advantages__item
					.advantages__icon
						img(src="images/original-production-104.svg", alt="")
					.advantages__text
						| 100% оригинальная продукция
			.col-lg-3.col-sm-6.advantages__item
				.advantages__item
					.advantages__icon
						img(src="images/delivery-104.svg", alt="")
					.advantages__text
						| Быстрая доставка
			.col-lg-3.col-sm-6.advantages__item
				.advantages__item
					.advantages__icon
						img(src="images/delivery-v-sng-104.svg", alt="")
					.advantages__text
						| Доставка в СНГ
			.col-lg-3.col-sm-6.advantages__item
				.advantages__item
					.advantages__icon
						img(src="images/ogromniy-vibor-104.svg", alt="")
					.advantages__text
						| Более 50 000 наименований