.article
	.container
		.carousel-header.row.no-gutters.justify-content-between.align-items-center
			h2.item-title Полезные статьи
			.carousel-btn
				.prev-btn.article-prev.middle
					img(src="images/arrow-left-40.svg", alt="")
				.next-btn.article-next.middle
					img(src="images/arrow-right-40.svg", alt="")
		.article-carousel
			div
				.article__item
					.row.no-gutters
						.col-xl-9.col-lg-8.col-md-7
							.article__img.row.no-gutters.align-items-center
								div
									img(src="http://via.placeholder.com/120x300", alt="")
						.col-xl-3.col-lg-4.col-md-5
							.article__descr.text-block.row.no-gutters.align-items-center
								div
									.shares__title
										h4
											span Выбираем
											b парфюм на лето
									p При нанесении запах сначала холодный, чуть резковатый, затем раскрываясь, становится мягче, теплее, на окончании…
									a(href="#").btn Подробнее
									a(href="#").link.article__more Все статьи
			div
				.article__item
					.row.no-gutters
						.col-xl-9.col-lg-8.col-md-7
							.article__img.row.no-gutters.align-items-center
								div
									img(src="http://via.placeholder.com/120x300", alt="")
						.col-xl-3.col-lg-4.col-md-5
							.article__descr.text-block.row.no-gutters.align-items-center
								div
									.shares__title
										h4
											span Выбираем
											b парфюм на лето
									p При нанесении запах сначала холодный, чуть резковатый, затем раскрываясь, становится мягче, теплее, на окончании…
									a(href="#").btn Подробнее
									a(href="#").link.article__more Все статьи
		