ul.breadcrumb
	li
		a(href="#").middle Главная
		span.middle.breadcrumb__delimiter /			
	li
		a(href="#").middle Парфюмерия для женщин
			span.middle.breadcrumb__delimiter /
	li
		a(href="#") Каталог товаров