.catalog-filter-wrapp.row.no-gutters.align-items-center.justify-content-between
	.catalog-filter.row.no-gutters.align-items-center.justify-content-between.hidden-sm
		.sorting
			a(href="#").sorting__item.is-active 
				span.middle по популярности
				span.middle
					img(src="images/arrow-down-version-2-24.svg", alt="")
			a(href="#").sorting__item по цене
			a(href="#").sorting__item по алфавиту
		.view
			a(href="#").view-btn.view-btn--list
			a(href="#").view-btn.view-btn--column.is-active
	.btn.btn--black.filter-btn.visible-sm По популярности
	.btn.btn--black.filter-btn.toggle-sidebar.visible-md Фильтры