footer.footer
	.footer__top
		.container
			.subscribe.row.no-gutters.justify-content-between.align-items-center
				.subscribe__text 
					| Подпишитесь на нашу рассылку и получите 
					b 250 Р 
					| на первую покупку!
				.subscribe__form
					input(type="text" placeholder="Введите email").subscribe__field
					button(type="submit").subscribe__submit Подписаться
			ul.footer__menu.hidden-xs
				li
					a(href="#") О компании
				li
					a(href="#") Доставка и оплата
				li
					a(href="#") Гарантия
				li
					a(href="#") Отзывы
				li
					a(href="#") Контакты
	.footer__bottom
		.container
			.row.no-gutters.justify-content-between.align-items-center
				.copyright © 2018 Parfum. Все права защищены
				.develop 
					| Создание сайта –
					a(href="#") Web Sigma