header.header
	.top-panel
		.container
			.row.no-gutters.align-items-center.justify-content-between
				.menu-btn.visible-md
					span.middle.burger-icon
						img(src="images/burger-menu-black-24.svg", alt="")
					span.middle.menu-btn__text Меню
				ul.top-menu.hidden-md
					li
						a(href="#") О компании
					li
						a(href="#") Доставка и оплата
					li
						a(href="#") Гарантия
					li
						a(href="#") Отзывы
					li
						a(href="#") Контакты
				.logo.visible-md.hidden-sm
					a(href="#")
						.logo__name 
							span.table-cell 
								img(src="images/parfum.svg", alt="")
							span.table-cell DAPARFUM
						.logo__descr парфюм для души
				.top-panel__info
					.top-panel__item.telephone.middle.hidden-md 8 880 337-37-38
					.top-panel__item.get-call.middle.hidden-md
						div
							a(href="#") Перезвонить?
						div
							a(href="#") Онлайн заявка
					.top-panel__item.profile.middle
						a(href="#").profile__btn.middle.visible-sm
							img(src="images/search-24-black.svg", alt="")
						a(href="#").profile__btn.middle.visible-md
							img(src="images/phone-24.svg", alt="")
						a(href="#").profile__btn.middle
							img(src="images/shop-24.svg", alt="")
						a(href="#").profile__btn.middle
							img(src="images/heart-24.svg", alt="")
						a(href="#").profile__btn.middle
							img(src="images/user-24.svg", alt="")
	.logo.visible-sm
		a(href="#")
			.logo__name DAPARFUM
			.logo__descr парфюм для души
	.header__center
		.container
			.row.no-gutters.align-items-center.justify-content-between
				.logo.hidden-md
					a(href="#")
						.logo__name
							span.table-cell.logo__icon
								img(src="images/parfum.svg", alt="")
							span.table-cell DAPARFUM
						.logo__descr парфюм для души
				ul.menu
					li
						a(href="#") 
							span.middle Для женщин
							span.middle.menu-arrow
								img(src="images/arrow-down-24.svg", alt="")
					li
						a(href="#") 
							span.middle Для мужчин
							span.middle.menu-arrow
								img(src="images/arrow-down-24.svg", alt="")
					li
						a(href="#") 
							span.middle Для детей
							span.middle.menu-arrow
								img(src="images/arrow-down-24.svg", alt="")
					li
						a(href="#") 
							span.middle Для дома 
							span.middle.menu-arrow
								img(src="images/arrow-down-24.svg", alt="")
					li
						a(href="#") Наборы/подарки
				.search-mobile-btn.visible-md.hidden-sm
					img(src="images/search-24-black.svg", alt="")
				.search.hidden-md
					form(action="")
						input(type="text" placeholder="Поиск").search__field
						button(type="submit").search__btn
	.filter
		.container
			.select.visible-sm
				select.select-item
					option(value="") Выберите бренд
					option(value="") бренд 1
					option(value="") бренд 2
			.row.no-gutters.align-items-center.justify-content-between.hidden-sm
				.filter__title Выберите бренд:
				.alphabet
					a(href="#").middle Все
					a(href="#").middle A
					a(href="#").middle B
					a(href="#").middle C
					a(href="#").middle D
					a(href="#").middle E
					a(href="#").middle F
					a(href="#").middle G
					a(href="#").middle H
					a(href="#").middle I
					a(href="#").middle J
					a(href="#").middle K
					a(href="#").middle L
					a(href="#").middle M
					a(href="#").middle N
					a(href="#").middle O
					a(href="#").middle P
					a(href="#").middle Q
					a(href="#").middle R
					a(href="#").middle S
					a(href="#").middle T
					a(href="#").middle U
					a(href="#").middle V
					a(href="#").middle W
					a(href="#").middle X
					a(href="#").middle Y
					a(href="#").middle Z
					a(href="#").middle 0-9