.shares
	.container
		.row.no-gutters.reverse-sm
			.col-lg-6.col-md-6
				.row.no-gutters.reverse-sm
					.col-lg-6
						.shares__item.shares__text.hits-item
							.shares__title
								h4
									span Хиты
									b Продаж
							p Лучшая мужская и женская парфюмерия
							a(href="# ") Подробнее
					.col-lg-6.hidden-md
						.shares__item.row.no-gutters.align-items-center
							div.shares__item__img
								img(src="http://via.placeholder.com/69x172", alt="")
					.col-lg-6.hidden-md
						.shares__item.row.no-gutters.align-items-center
							div.shares__item__img
								img(src="http://via.placeholder.com/69x172", alt="")
					.col-lg-6
						.shares__item.shares__text
							.shares__title
								h4
									span Товары
									b со скидкой
							p Духи со скидкой. Более 500 ароматов по низким ценам
							a(href="#") Подробнее
			.col-lg-6.col-md-6
				.shares-carousel
					div
						.shares__item.shares__item__large
							.shares-mobile-big-img.visible-xs
								img(src="http://via.placeholder.com/124x308", alt="")
							.shares-carousel-text
								.shares__title
									h2
										span Подарок
										b из Германии
								p от 15% до 57% до конца месяца
								a(href="#").btn Подробнее
							.shares-big-img.row.no-gutters.align-items-center.hidden-xs
								div
									img(src="http://via.placeholder.com/124x308", alt="")
					div
						.shares__item.shares__item__large
							.shares-mobile-big-img.visible-xs
								img(src="http://via.placeholder.com/124x308", alt="")
							.shares-carousel-text
								.shares__title
									h2
										span Подарок
										b из Германии
								p от 15% до 57% до конца месяца
								a(href="#").btn Подробнее
							.shares-big-img.row.no-gutters.align-items-center.hidden-xs
								div
									img(src="http://via.placeholder.com/124x308", alt="")
				.shares-btn
					.prev-btn.shares-prev.middle
						img(src="images/arrow-left-40.svg", alt="")
					.next-btn.shares-next.middle
						img(src="images/arrow-right-40.svg", alt="")
								
					