extends pug/base

append vars
	//- ...

block content
	include pug/header
	include pug/shares
	include pug/banner
	include pug/advantages
	include pug/novelties
	include pug/popular
	include pug/article
	include pug/form
	include pug/footer


					
