.banner{
	margin-top: 65px;
	color: #fff;

	&__content{
		height: 95px;
		padding: 0 40px;
		background: url(../images/fon.png)no-repeat 50%;
		background-size: cover;
	}
	&__text{
		max-width: 380px;
		text-transform: uppercase;
		font-size: 20px;
		color: #fafafa;
	}
}
.countdown-container{
	font-size: 14px;

	div{
		display: inline-block;
		vertical-align: top;
		text-align: center;

		+ div{
			margin-left: 10px;
		}
	}
	span{
		display: block;
		width: 56px;
	  height: 48px;
	  border-radius: 2px;
	  background-color: rgba(0, 0, 0, 0.12);
	  line-height: 48px;
	  text-align: center;
	  font-size: 36px;
	}
}