@media(min-width: 1200px){
	.visible-lg{
		display: none !important;
	}
}
@media(max-width: 1199px){
	.menu li + li{
		margin-left: 5px;
	}
	.search{
		width: 195px;
	}
	.alphabet a + a{
		margin-left: 17px;
	}
	.shares__item__large {
    padding: 80px 40px;
    padding-left: 65px;
	}
	.shares-carousel-text{
		max-width: 215px;
	}
	.card-mobile-top{
		padding: 20px 25px;
		padding-bottom: 0;
	}
	.card__img{
		height: 360px;

		img{
			max-height: 360px;
		}
	}
	h2{
		font-size: 30px;
	}
	.card-tab__item{
		font-size: 14px;
	}
	.banner__text{
		max-width: 260px;
		font-size: 18px;
	}
	.subscribe__form{
		width: 440px;
	}
	.subscribe__text{
		max-width: 400px;
	}
	.top-panel__item + .top-panel__item{
		margin-left: 25px;
	}
	.card__slider{
		padding-left: 15px;
	}
	.card__thumb{
		display: none;
	}
	.hidden-lg{
		display: none;
	}
}
@media(min-width: 992px){
	.visible-md{
		display: none !important;
	}
}
@media(max-width: 991px){
	.hidden-md{
		display: none;
	}
	.sidebar{
		display: none;
	}
	.reviews__descr{
		padding-left: 0;
	}
	.autor-img{
		display: none;
	}
	.catalog-filter-wrapp{
		margin-bottom: 0;
	}
	.catalog-filter{
		width: calc(100% - 135px);
	}
	.sidebar{
		width: 100%;
	}
	.content-center{
		width: 100%;
		margin-top: 25px;
	}
	.top-panel__item + .top-panel__item{
		margin-left: 0;
	}
	.alphabet{
		font-size: 12px;
	}
	.alphabet a + a{
		margin-left: 11px;
	}
	.shares__title:before{
		content: none;
	}
	.shares__title b{
		margin-left: 0;
	}
	.shares__text{
		padding-left: 20px;
		padding-right: 20px;
	}
	.shares__item{
		height: 210px;
	}
	.shares__item__large{
		height: 420px;
		padding-left: 20px;
		padding-right: 20px;
	}
	h2{
		font-size: 26px;
	}
	.shares__item__large p{
		margin-bottom: 35px;
	}
	.shares-carousel-text{
		max-width: 185px;
	}
	.shares-big-img {
    position: absolute;
    z-index: 2;
    right: 25px;
    width: 100px;
	}
	.banner__content{
		height: 140px;
	}
	.banner__text {
    max-width: inherit;
    width: 100%;
    text-align: center;
	}
	.banner{
		margin-top: 100px;
	}
	.banner__img{
		margin-top: -115px;
	}
	.banner__content{
		padding-left: 0;
		padding-right: 0;
	}
	.banner__img{
		margin-top: -80px;
	}
	.banner__btn{
		padding-right: 40px;
	}
	.timer{
		padding-left: 40px;
	}
	.article__img{
		height: 330px;

		img{
			max-height: 270px;
		}
	}
	.subscribe__text{
		max-width: inherit;
		width: 100%;
		text-align: center;
		margin-bottom: 25px;
	}
	.subscribe__form{
		margin: auto;
	}
}
@media(min-width: 768px){
	.visible-sm{
		display: none;
	}
}
@media(max-width: 767px){
	.menu{
		width: 100%;
		border-top: 1px solid #e5e5e5;
	}
	.reviews__content{
		padding: 15px;
	}
	.page-title{
		font-size: 24px;
	}
	.reviews__content{
		border-left: 0;
	}
	.card-tab-mobile{
		border-bottom: 0;
		padding-bottom: 0;
	}
	.content{
		padding-bottom: 25px;
	}
	.card__total{
		padding: 10px 0;
		padding-bottom: 0;
	}
	.card{
		h3{
			font-size: 22px;
			font-weight: normal;
		}
	}
	
	.card__img{
		height: 250px;

		img{
			max-height: 250px;
		}
	}
	.card{
		padding-bottom: 20px;
	}
	.card__total__content{
		box-shadow: none;
	}
	.card-mobile-top{
		padding-left: 15px;
		padding-right: 15px;
	}
	.card__value__item{
		max-width: inherit;
		width: 100%;
	}
	.card__item{
		padding-left: 15px;
		padding-right: 15px;
	}
	.filter-btn{
		height: 40px;
		line-height: 38px;
	}
	.sidebar__btn{
		font-size: 14px;
	}
	.filter-btn{
		width: 49%;
		font-size: 12px;
	}
	.banner{
		margin-top: 30px;
	}
	.pagination__select{
		width: 100%;
		

		.select-item{
			text-align: center;
		}
	}
	.reverse-sm{
    flex-direction: column-reverse !important;
	}
	.menu li{
		width: 100%;
		display: block;
		margin: 0 !important;
		position: relative;
		border-bottom: 1px solid #e5e5e5;
	}
	.menu a{
		display: block;
		padding: 10px 0;
		font-weight: normal;
		font-size: 14px;
	}
	.hits-item{
		background-image: radial-gradient(circle at 52% 46%, #fafafa, #e7e0e2);
	}
	.menu-arrow{
		position: absolute;
		z-index: 2;
		right: 0;
		top: 5px;
		transform: rotate(-90deg);
	}
	.hidden-sm{
		display: none;
	}
	.logo{
		margin-top: 20px;
	}
	.logo__name{
		margin: auto;
	}
	.item-title{
		font-size: 24px;
	}
	.carousel-btn{
		display: none;
	}
	.article__img{
		height: auto;
		background: none;
		box-shadow: none;
	}
	.article{
		background: #fafafa;
		margin-top: 20px;
		padding: 30px 0;
	}
	.article__descr{
		margin-left: 0;
	}
	.article-carousel .slick-dots{
		width: 100%;
	}
	.article__more{
		display: none;
	}
	textarea.form-control{
		margin-top: 20px;
	}
	.timer{
		padding-left: 0;
		width: 100%;
	}
	.banner__content{
		text-align: center;
		height: auto;
		padding: 20px 0;
	}
	.banner__btn{
		padding-right: 0;
		width: 100%;
		text-align: center;
		margin: 20px 0;
	}
	.shares-btn{
		display: none;
	}
	.banner__text{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media(min-width: 576px){
	.visible-xs{
		display: none !important;
	}
}
@media(max-width: 575px){
	.advantages__item{
		+ .advantages__item{
			margin-top: 50px;
		}
	}
	.subscribe__submit{
		width: 100px;
	}
	.text-block .btn{
		margin-top: 20px;
		width: 100%;
	}
	.shares-carousel-text{
		text-align: center;
	}
	.shares-carousel .slick-dots{
		position: relative;
	}
	.shares-mobile-big-img{
		text-align: center;

		img{
			max-height: 160px;
		}
	}
	.article-carousel .slick-dots{
		bottom: 0;
	}
	.hidden-xs{
		display: none;
	}
	.countdown-container{
		span{
			font-size: 30px;
			width: 50px;
		}
	}
	.subscribe__field{
		padding-right: 115px;
		font-size: 14px;
		padding-left: 15px;
	}
	.subscribe{
		border-bottom: 0;
	}
	.footer__bottom{
		text-align: center;
	}
	.copyright,
	.develop{
		width: 100%;
	}
	.shares-carousel-text{
		max-width: inherit;
		width: 100%;
	}
	.shares__item__large{
		padding: 20px;
	}
}