.pagination{
	margin-bottom: 35px;

	&__select{
		width: 180px;
	}
	&__pages{

		li{
			float: left;
			width: 40px;
			height: 40px;
			line-height: 38px;
			text-align: center;

			a{
				font-size: 14px;
				color: #1a1918;
				display: block;
				cursor: pointer;
				border: solid 1px #d1d1d1;

				&:hover,
				&.current{
					background: $purple;
					color: #fff;
					border-color: $purple;
				}
			}

			+ li{
				a{
					border-left: 0;
				}
			}
		}
	}
	&__btn{
		width: 105px;
		height: 40px;
		text-align: center;
		border: solid 1px #d1d1d1;
		line-height: 38px;
		font-size: 14px;
		color: #1a1918;
		margin-left: 15px;

		&:hover{
			background: $purple;
			color: #fff;
			border-color: $purple;
		}
	}
}