.popular{
	padding: 50px 0;
	position: relative;
	margin-top: 50px;

	&:before{
		content: "";
		width: 50%;
		height: 100%;
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		background: #fafafa;
	}
	&:after{
		content: "";
		width: 50%;
		height: 100%;
		position: absolute;
		z-index: -1;
		right: 0;
		top: 0;
		background: #f5f4f0;
	}
}